:host {
  display: inline-block;
  width: 80%;
  height: 100%;
  min-height: 94vh;
  margin: 1%;

  background-image: url('~src/assets/login2.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}
