:host {
  width: 880px;
  height: 752px;
  display: inline-block;
  position: relative;
  margin: 3%;
  background-color: rgba(122, 111, 109, 0.85);
  box-shadow:0 0 10px 0 #ffce0f;
  border-radius: 10px;
}
div.races {
  width: 200px;
  float: left;
  margin: 8px;
  background-color: rgba(87, 77, 75, 0.65);
  border-radius: 10px;
  border: 3px solid #f6a530;
}
div.alliance {
  background-color: #000485;
  border-radius: 10px;
}
div.horde {
  background-color: #710002;
  border-radius: 10px;
}
div.faction {
  width: 42%;
  float: left;
  margin: 4%;
}
div.genders {
  display: inline;
  width: 100%;
  float: left;
}
div.info {
  display: inline-block;
  float: right;
  position: absolute;
  bottom: 0;

}
div.classes {
  margin: 8px;
  display: block;
  width: 270px;

  background-color: rgba(87, 77, 75, 0.65);
  border-radius: 10px;
  border: 3px solid #f6a530;
  position: absolute;
  bottom: 0;
  left: 222px;
}
div.model {
  width: 344px;
  height: 577px;
  position: absolute;
  bottom: 0;
  left: 514px;
  margin: 8px;
  background-color: rgba(87, 77, 75, 0.65);
  border-radius: 10px;
  border: 3px solid #f6a530;

}
