<div [class]="'alliance'">
  <h1>Alliance Room</h1>
  <ng-container *ngFor="let character of characters">
    <app-character *ngIf="character.characterRace.faction==='alliance'" [class]="character.characterRace.faction" [character]="character"></app-character>
  </ng-container>
</div>

<div [class]="'horde'">
  <h1 >Horde Room</h1>
  <ng-container *ngFor="let character of characters">
    <app-character *ngIf="character.characterRace.faction==='horde'" [class]="character.characterRace.faction" [character]="character"></app-character>
  </ng-container>
</div>

